*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/
*.jks
*.keystore
!app/paperly-debug.keystore
google-services.json
app/build/
benchmark/build/
firestore-rules-test/node_modules/

